@media screen and (max-width: 780px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 560px) {
    html {
        font-size: 39%;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 31.25%;
    }
}
.box{
    height: 300px;
    width: 400px;
    border: 2px solid red;
    background: url("ali.jpg") no-repeat;
   background-position: 100%;
}
.box2{
    width: 20%;
    height: 20%;
    padding: 10%;
    margin: 5%;
    border: 3px solid mediumspringgreen;
}
.box1{
    margin-top: 50px;
    border: 1px solid;
}
span{
    vertical-align: 111%;
}
p{
    font-size: 2rem;
    text-indent: 9%;
    line-height: 200%;
}