body{
    font-size: 62.5%;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.head-page{
    font-size: 1.2rem;
    color: #29b078;
    height: 30px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-style{
    height: 20px;
    width: 20px;
    border: 1px solid #29b078;
    border-radius: 50%;
    margin-right: 20px;
}
.navbar{
    height: 50px;
    width: 100%;
    background-color: #29b078;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-default{
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 1.2rem;
}
.navbar-brand {
    float: right;
    height: 50px;
    padding: 15px 17px;
    line-height: 20px;
}
.navbar-brand:hover{
    border-bottom: 2px solid #ffffff;
}
.jnshu{
    font-size: 2rem;
    color: #fff;
    margin: 0;
}
.www{
    font-size: 1rem;
    color: #fff;
    margin: 0;
}
main{
    margin-top: 80px;
    background-color: #fafafa;
    padding-bottom: 80px;
}
.hand{
    width: 100%;
}
.title{
    margin: 30px 0;
    font-size: 1.5rem;
}
.title1{
    color: #74c5a0;
}
.nav{
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px #e6e6e6;
}
.navbar-head{
    padding: 20px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-bottom:1px solid #e6e6e6 ;
}
.navbar-brander{
    float: none;
}
.navbar-brander ul{
    list-style: none;
}
.navbar-brander li{
    font-size: 1.5rem;
    margin: 30px 0;
}
.navbar-brander a:hover{
    color:#ff946b ;
    text-decoration: none;
}

.navbar-brander a:hover .circle{
    background-color: #f9a372;
}
.circle{
    width: 10px;
    height: 10px;
    border: 1px solid #ff946b;
    border-radius: 50%;
    display: inline-block;
}
.web{
    color: #74c5a0 ;
}
.rowstyle{
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 2px #e6e6e6;
    padding-bottom: 40px;
    background-color: #fff ;
}
.intro{
    width: 100%;
    padding: 20px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #b5b5b5;
}
.imgposition{
    height: 90px;
    float: left;
    vertical-align: middle;
}
.font1{
    font-size: 1.2rem;
    line-height: 200%;
    font-weight: 600;
    color: #b5b5b5;
}
.font2{
    font-size: 1.2rem;
    line-height: 200%;
    font-weight: 600;
    color: #b5b5b5;
    text-indent: 2.4rem;
    padding:20px 20px 0 20px;
}
footer{
    width: 100%;
    background-color: #26a26f;
}
.row1{
    height: 30px;
    line-height: 30px;
    font-size: 1.3rem;
    color: #ffffff;
    text-align: left;
}
.aboutus{
    font-size: 1.2rem;
    color: #fff;
    padding: 0 7px 0 0;
    margin: 7px 7px 0 0;
    border-right: 2px solid #fff;
    float: left;
}
.website{
    font-size: 1.2rem;
    color: #fff;
    margin-right: 10px;
    padding-bottom: 10px;
}
.row1 a{
    text-decoration: none;
}
.row1 a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.weixin{
    line-height: 30px;
    font-size: 1.3rem;
    color: #fff;
    text-align: left;
}
.weixinlogo{
    height: 60px;
}
.foot{
    color: #fff;
    font-size: 1.2rem;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
}